.statistic {
  display: inline-block;
  text-align: left;
}

.statistic-label {
  text-transform: uppercase;
  font-size: .8em;
}

.statistic + .statistic {
  margin-left: 3em;
}

.statistic-container {
  font-size: 4em;
  font-weight: 100;
}

.statistic-value {
  font-weight: bold;
}

.statistic-unit {
  font-size: 0.5em;
  vertical-align: middle;
}
