.room {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 500px;
  text-align: center;
  padding: 5em;
  align-self: center;
}

.room-icon {
  display: inline-block;
  width: auto;
  height: 100px;
  margin-bottom: 3em;
}

.room-name {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .5em;
}
