* {
  box-sizing: border-box;
}

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  height: 100%;
}

body {
  background-color: #fff;
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 2em;
}

.page-home,
.page-homes {
  display: flex;
  flex-direction: column;
  border: 5px solid #000;
}

.page-homes h2 {
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
}

.container {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  max-width: 600px;
  margin-top: auto;
  margin-bottom: auto;
}

.active {
  color: #ff0000;
}
