.room-list a {
  position: relative;
  display: block;
  padding: 1em;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: 100ms all;
}

.room-list a:hover {
  background-color: #999;
}

.room-list li {
  border-top: 5px solid #000;
}
